
<template>
<div>
  <div>
    <v-card class="mx-auto" max-width="800">
    <v-tabs>
      <v-tab @click="tab(1)">Опубликованные</v-tab>
      <v-tab @click="tab(2)">Архивные</v-tab>
      <v-tab @click="tab(3)">Черновики</v-tab>
     </v-tabs>   
    </v-card>    
  </div>

<div v-if="enskriboj">
  <br>
  <span v-for="(node, id) in enskriboj" :key="id">
    <v-card class="mx-auto" max-width="800" > 
      <v-toolbar v-if="name" class="px-4" flat>                                    <!-- тулбар карточки записи пользователя -->                
                
          <v-avatar size="50" >  
             <img   :src="avataro" >                   
          </v-avatar>
           
          <v-card-text class="mx-4">
             {{name}} {{familio}} <br>
             {{getHumanDate(enskriboj[id].node.publikigaDato)}}    <!-- вставка [id] нужна т.к. результат ответа это массив -->                
          </v-card-text>
            
          <v-spacer></v-spacer>

          <v-menu open-on-hover offset-x>                           <!-- Верхняя правая менюшка на карточках -->
            <template v-slot:activator="{ on }">
              <v-btn icon        
                  v-on="on" >
                <v-icon >mdi-dots-vertical</v-icon>          
              </v-btn>
             </template>
                                                                               
            <v-list>      
              <div>                    <!-- кнопка "В архив" если вкладка первая и "Восстановить" если вкладка вторая-->
                <v-list-item                                              
                  @click="archiveEnskribo(enskriboj[id].node.uuid, enskriboj[id].node.posedanto.uuid)"              >
                  <v-list-item-title>{{arkivo_btn()}}</v-list-item-title>
                </v-list-item>      
              </div>
              <div v-if="tab_sensor == 2 || tab_sensor == 3">                     <!-- кнопка "Удалить" -->
                <v-list-item                                              
                  @click="deleteEnskribo(enskriboj[id].node.uuid, enskriboj[id].node.posedanto.uuid)"              >
                  <v-list-item-title>Удалить!!!</v-list-item-title>
                </v-list-item>            
              </div>
             
            </v-list>
          </v-menu>  
           
      </v-toolbar>
       
          
      <div v-if="IsValidJSONString(enskriboj[id].node.teksto.enhavo)" class="px-4"> <!-- Парсинг записи нового формата -->
        
          <div v-for="(n, idx) in ParseNewEnhavo(enskriboj[id].node.teksto.enhavo).blocks" :key="idx">      
           
                                                            <!-- Вывод текста сообщения-->
              <v-card-text  v-if="n.type === 'paragraph'" 
                  v-html="filterLinks(n.data.text, n.type)" 
                  class="blok"
              >
              </v-card-text >
           
                                                    <!-- вывод картинки-->
            <v-img v-if="n.type === 'image'" 
              class="mb-4"
              :src="n.data.file.url"
              style="maxWidth: 100%; cursor: pointer;"
              @click="openImg(n.data.file.url, n)">
            </v-img>

          </div>
         
      </div>

      <div v-else >           <!-- Парсинг записи старого формата-->
        <v-card-text>
            
            {{enskriboj[id].node.teksto.enhavo}}<br><br>
            <div v-if="enskriboj && enskriboj[id].node.video">
              <iframe 
                width="100%"  height="400" 
                :src=videoPath(enskriboj[id].node.video)
                frameborder="0" allowfullscreen>
              </iframe>    <br> 
            </div> 
            
        </v-card-text>
      </div>
      <v-divider></v-divider>
        
        <v-toolbar v-if="name" class="px-4" flat>                                    <!-- тулбар карточки записи пользователя -->                
                
          <v-btn text icon :color="heartColor(enskriboj[id].node.statistiko.intereso)"> <!-- иконка "сердечко" показывающий количество лайков  -->
             <v-icon>mdi-heart</v-icon>
          </v-btn>
          <v-card-text class="ml-n4">            
            {{enskriboj[id].node.statistiko.intereso}}
          </v-card-text> 

  <!--        <v-btn text icon>                          иконка "коментировать"  
             <v-icon>mdi-comment-outline</v-icon>
          </v-btn>

          <v-btn text icon>                            иконка "nелепортировать"  
             <v-icon>mdi-share</v-icon>
          </v-btn>  -->
           
      </v-toolbar>
    </v-card>
    <br>
  </span> <!-- конец цикла v-for="(node, id) in enskriboj"-->
    

</div>
</div>



</template>
<script>

import { enskriboj_query, enskribo_arkivo} from '@/components/uzanto/queries';
import { graphQlUrlize } from '@/utils';
import moment from 'moment';


export default {
	data() {
		return {
      
      enskriboj: null,
      normo: null,
      arkivo: null,
      malneto: true,
      tab_sensor: 1,
     
    };
    
    
  },

   
	props: ['muroUzanto_id', 'name', 'familio', 'avataro'],
	methods: {

    tab(tab_num){

      if (tab_num == 1) {
        this.enskriboj = this.normo;        
        this.tab_sensor = 1;
      }
      if (tab_num == 2) {
        this.enskriboj = this.arkivo;
        this.tab_sensor = 2;
      }
      if (tab_num == 3) {
        this.enskriboj = this.malneto;
        this.tab_sensor = 3;
      }
    },

    arkivo_btn(){
      if (this.tab_sensor == 1) {
        return "В архив" ;
      }
      if (this.tab_sensor == 2) {
        return "Восстановить" ;
      }
      if (this.tab_sensor == 3) {
        return "Опубликовать" ;
      }
    },
   
    videoPath(str){      
      let path;
      path = "https://www.youtube.com/embed/"+str.substring(17, 28)+'?rel=0&showinfo=0&autoplay=0';
      return path;
    },
    
    heartColor(intereso) {      
      if (intereso > 0) {
        return "red";
      }
      else {
        return "grey"
      }      
    },

    filterLinks(value, type) {
      let text = value;
      if (type == "quote") {
        text = text.replace(
          /((http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?)/g,
          "<a href=$1 target=blank>$1</a>"
        );
      }
      if (type == "paragraph") {
        text = text.replace(
          /<a[^>]* href="([^"]*)"/g,
          "<a href=$1 target=blank"
        );
      }
      text = text.replace(/['"]+/g, "");
      return text;
    },

    IsValidJSONString(str) {
      try {
        JSON.parse(str);
      } catch (e) {
        return false;
      }
      return true;
    },

    ParseNewEnhavo(str){ // парсинг записи нового образца
      let response = JSON.parse(str);
      //console.log(response);
      return response;

    },   

    deleteEnskribo (m_uuid, m_posedantoUuid) {          
            return this.$axios.post('', {
              query: enskribo_arkivo,
              variables: {
                uuid: m_uuid,
                posedantouuid: m_posedantoUuid,
               forigo: true
              }
            })
    },

    archiveEnskribo (m_uuid, m_posedantoUuid) {          
          if (this.tab_sensor == 1){
                return this.$axios.post('', {
              query: enskribo_arkivo,
              variables: {
                uuid: m_uuid,
                posedantouuid: m_posedantoUuid,
                arkivo: true,
                publikigo: true,
                forigo: false
              }
            }) ;
          }

          if (this.tab_sensor == 2){
                return this.$axios.post('', {
              query: enskribo_arkivo,
              variables: {
                uuid: m_uuid,
                posedantouuid: m_posedantoUuid,
                arkivo: false,
                publikigo: true,
                forigo: false
              }
            }) ;
          }
          if (this.tab_sensor == 3){
                return this.$axios.post('', {
              query: enskribo_arkivo,
              variables: {
                uuid: m_uuid,
                posedantouuid: m_posedantoUuid,
                arkivo: false,
                publikigo: true,
                forigo: false
              }
            }) ;
          }
          
    },

       

		async load_enskriboj() {
			const resp = await this.$axios.$get(
				graphQlUrlize({ query: enskriboj_query, variables: { posedantoId: this.muroUzanto_id} })
			);
           
            this.normo = resp.data.normo.edges;
            this.arkivo = resp.data.arkivo.edges;
            this.malneto = resp.data.malneto.edges;
           // console.log(this.enskriboj);
           // console.log(this.arkivo);
           // console.log(this.malneto);
                
			
    }, //описываю метод запроса к бакэнду
    
    getHumanDate : function (date) {
                moment.lang('ru');
                return moment(date, 'YYYY-MM-DD').format('dddd, DD MMMM YYYY');
            }
  },
  
	async mounted() {
		try {
			  this.load_enskriboj();
		  } catch (error) {
			  return {
				enskriboj: null
			  };
		}
  } // делаю запрос к бакэнду
  
};
</script>
