<template>
  <div class="text-center">
    <v-snackbar v-model="snackbar" :multi-line="multiLine" :timeout="timeout">
      {{ text }}
      <v-btn color="red" text @click="cookiesWarningClick">Даю согласие</v-btn>
    </v-snackbar>
  </div>
</template>


<script>
import Vue from "vue";
import tinycolor from "tinycolor2";

export default {
  data() {
    return {
      multiLine: true,
      text:
        "Продолжая использовать наш сайт, вы даете согласие на обработку файлов cookie, пользовательских данных (сведения о местоположении; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение его экрана; источник откуда пришел на сайт пользователь; с какого сайта или по какой рекламе; язык ОС и Браузера; какие страницы открывает и на какие кнопки нажимает пользователь; ip-адрес) в целях функционирования сайта, проведения ретаргетинга и проведения статистических исследований и обзоров. Если вы не хотите, чтобы ваши данные обрабатывались, покиньте сайт.",
      timeout: 0,
      snackbar: false
    };
  },
  watch: {
    "localStorage.cookiesWarningComplete": function() {
      this.snackbar = localStorage.cookiesWarningComplete;
    }
  },

  methods: {
    cookiesWarningClick: function() {
      localStorage.cookiesWarningComplete = "true";
      this.snackbar = false;
    }
  },
  mounted() {
    this.snackbar =
      localStorage.cookiesWarningComplete === "true" ? false : true;
  }
};
</script>

<style>
</style>